* {
  font-family: Verdana, Geneva, sans-serif
}

body {
  margin: 0px;
}

#titleBar {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background-color: #006666;
  color: white;
}

#title {
  font-size: 1.25em;
  font-weight: bold;
}

#login {
  padding: 5px;
}

#nav {
  display: flex;
  justify-content: space-around;
  background-color: #006666;
}

.navTab {
  color: black;
  background-color: gainsboro;
  flex: 1;
  text-align: center;
  padding: 10px;
  margin-left: 1px;
  margin-right: 1px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  text-decoration: none;
}

.navTab.selected {
  background-color: #009999;
  font-weight: bold;
  color: white
}

.navTab > div {
  background-color: inherit;
  font-weight: inherit;
  color: inherit;
}

.toolBar {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  background-color: white;
}

.toolBar .pageTitle {
  font-size: 1.25em;
  font-weight: bold;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.toolButtons {
  display: flex;
  justify-content: space-between;
}

.toolBar button {
  padding: 10px;
  border-radius: 15px;
  font-size: .7em;
  font-weight: bold;
  border: 2px solid gainsboro;
  background-color: #33cccc;
  color: black;
  flex: 1
}

table {
  border-collapse: collapse;
  margin-left: 20px;
  width: 80%;
}

table, td {
  border: 1px solid gainsboro;
}

th {
  border: 3px solid white;
  background-color: gainsboro;
  padding: 5px;
}

td {
  padding: 5px;
  text-align: center;
  vertical-align: middle;
}

.schoolDetails {
  padding: 20px;

}


